@model List<Participants>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    @await Html.PartialAsync("../Shared/Header.cshtml")
    <main class="main">
        <div class="buttons-grid">

            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="button">
                    <button class="background-color-@i main-button" asp-controller="Home" asp-action="AddPoint" asp-route-participantId="@Model[i].ParticipantId" asp-route-counterId="@Model[i].CounterId">+1</button>
                    <div class="info">
                        <span class="title">@Model[i].NameParticipant</span>
                        <span class="count-first color-@i">@Model[i].NumberScore</span>
                    </div>
                </div>
            }

        </div>
    </main>
    <div class="total-count">
        <span>Общий счет</span>
        <span>@ViewBag.totalScore</span>
    </div>
</body>
</html> 